@import "tailwindcss";

@theme {
    --color-black: #050505;
    --color-oceanic-orange: #002b36;
    --color-accent-magenta: #d33682;
    --color-accent-yellow: #b58900;
    --color-bland-grey: #e5e5e5;
    --animate-typing: typing 1s ease-in-out;

    @keyframes typing {
        0% {
            width: 0;
        }
        100% {
            width: 100%;
        }
    }
}